.loader {
   width: 144px;
   height: 144px;
   display: inline-block;
   position: relative;
   transform: rotate(45deg);
}
.loader::before {
   content: "";
   box-sizing: border-box;
   width: 72px;
   height: 72px;
   position: absolute;
   left: 0;
   top: -72px;
   animation: animloader 4s ease infinite;
}
.loader::after {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 0;
   width: 72px;
   height: 72px;
   background: rgba(51, 122, 183, 0.85);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
   animation: animloader2 2s ease infinite;
}

@keyframes animloader {
   0% {
      box-shadow: 0 72px rgba(51, 122, 183, 0), 72px 72px rgba(51, 122, 183, 0),
         72px 144px rgba(51, 122, 183, 0), 0px 144px rgba(51, 122, 183, 0);
   }
   12% {
      box-shadow: 0 72px #337ab7, 72px 72px rgba(51, 122, 183, 0),
         72px 144px rgba(51, 122, 183, 0), 0px 144px rgba(51, 122, 183, 0);
   }
   25% {
      box-shadow: 0 72px #337ab7, 72px 72px #337ab7,
         72px 144px rgba(51, 122, 183, 0), 0px 144px rgba(51, 122, 183, 0);
   }
   37% {
      box-shadow: 0 72px #337ab7, 72px 72px #337ab7, 72px 144px #337ab7,
         0px 144px rgba(51, 122, 183, 0);
   }
   50% {
      box-shadow: 0 72px #337ab7, 72px 72px #337ab7, 72px 144px #337ab7,
         0px 144px #337ab7;
   }
   62% {
      box-shadow: 0 72px rgba(51, 122, 183, 0), 72px 72px #337ab7,
         72px 144px #337ab7, 0px 144px #337ab7;
   }
   75% {
      box-shadow: 0 72px rgba(51, 122, 183, 0), 72px 72px rgba(51, 122, 183, 0),
         72px 144px #337ab7, 0px 144px #337ab7;
   }
   87% {
      box-shadow: 0 72px rgba(51, 122, 183, 0), 72px 72px rgba(51, 122, 183, 0),
         72px 144px rgba(51, 122, 183, 0), 0px 144px #337ab7;
   }
   100% {
      box-shadow: 0 72px rgba(51, 122, 183, 0), 72px 72px rgba(51, 122, 183, 0),
         72px 144px rgba(51, 122, 183, 0), 0px 144px rgba(51, 122, 183, 0);
   }
}

@keyframes animloader2 {
   0% {
      transform: translate(0, 0) rotateX(0) rotateY(0);
   }
   25% {
      transform: translate(100%, 0) rotateX(0) rotateY(180deg);
   }
   50% {
      transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
   }
   75% {
      transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
   }
   100% {
      transform: translate(0, 0) rotateX(0) rotateY(360deg);
   }
}
